<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <base href="/">
    <title>Angular With Webpack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
  </head>
  <body>
    
    <my-app>Loading...</my-app>

    <script type="text/javascript" src="{% static 'app.js' %}"></script>
  </body>
</html>

